* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #131416;
  font-family: Arial;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center; /* Bouton centré axe horizontal*/
  height: 100vh; /* on plage le bouton au centre de la page (axe vertical)*/
}

.button-demo {
  color: #03e9f4;
  text-decoration: none; /* Supprime le soulignement dû au lien (balise a) */
  position: relative;
  text-transform: uppercase; /* Tout mettre en majuscule*/
  padding: 25px 30px;
  letter-spacing: 4px; /* Lettre détachée*/
  transition: 0.5s all;
  overflow: hidden;
}

.button-demo:hover {
  background-color: #03e9f4;
  color: #050801;
}

.button-demo span {
  position: absolute;
}

/* On va styliser chacune des balises span une par une*/

.button-demo span.span1 {
  /* on place la première balise span en haut du bouton */
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  /* Création de la première animation */
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.button-demo span.span2 {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s; /* Pour que l'animation ne commence pas directement lors de l'affichage de la page*/
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.button-demo span.span3 {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate3 {
  /* Création de la première animation */
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.button-demo span.span4 {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s; /* Pour que l'animation ne commence pas directement lors de l'affichage de la page*/
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

